In [10]:
%matplotlib inline

In [11]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [12]:
# Read CSV
rain_df = pd.read_csv("Resources/union_settlements_1995.csv")
rain_df.head()

,SCHEDULE NUMBER,NEGOTIATION NUMBER,BLANK1,COMPANY IDENTIFYING INFORMATION,SIC Code,BLANK2,SIC Code.1,SIC Code.2,BLANK3,TYPE OF BARGAINING UNIT,...,BLANK16,CPI FORMULA,BLANK17,DATE OF FIRST COST-OF-LIVING REVIEW,BLANK18,DATE OF LAST COST-OF-LIVING REVIEW,BLANK19,WORK STOPPAGE BEGINNING DATE,BLANK20,WORK STOPPAGE ENDING DATE
0,17031,51,NaN,ELEVATOR MANUFACTORS ASSN LU 1 4799-3,NaN,NaN,Construction Special Trade Contractors,96,NaN,MORE THAN ONE COMPANY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17031,52,NaN,ELEVATOR MANUFACTURING ASSN LU 1 (4799),NaN,NaN,Construction Special Trade Contractors,96,NaN,MORE THAN ONE COMPANY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17031,53,NaN,ELEVATOR MANUFACTURERS ASSN,50.0,NaN,Construction Special Trade Contractors,96,NaN,MORE THAN ONE COMPANY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,17031,54,NaN,ELEVATOR MFRS ASSN LU 1,50.0,NaN,Construction Special Trade Contractors,96,NaN,MORE THAN ONE COMPANY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17031,55,NaN,ELEVATOR MFRS ASSN OF NYC LU1,50.0,NaN,Construction Special Trade Contractors,96,NaN,MORE THAN ONE COMPANY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Get total settlements by union

In [14]:
# Configure plot, figsize, title, and axis labels


# Configure x-tick rotation


# Show plot

In [15]:
# Resize plot to display labels